body{-webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
    width:50%; height:50%;
	background-size:100%}
	body:hover{opacity:100
	
	}
	.center {
    position: absolute;
    left: 250;
    top: 5%;
    width: 60%;
    text-align: center;
    font-size: 18px;
}